# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# ============ Prisma database connection URLs ============
# Local Docker Connection
# Format: postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?schema=public
DATABASE_URL="postgresql://internalizacion:ce564e1b9e9983f050e82bca877e132bc7dde92f4231743161815e5aaf757cf2@127.0.0.1:5433/dev?schema=public"

# For local dev, this is the same as the main URL (no PgBouncer locally)
DATABASE_URL_UNPOOLED="postgresql://internalizacion:ce564e1b9e9983f050e82bca877e132bc7dde92f4231743161815e5aaf757cf2@127.0.0.1:5433/dev?schema=public"

# ============ Better Auth ============ 
# Use `pnpm dlx @better-auth/cli@latest secret` to create a new one
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# ============ Google OAuth ============
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
